<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nootroptimize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FD3C3861C58D6DA00A22006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD3C39D1C58D6DA00A22006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD3C3A81C58D6DA00A22006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
